@import "compass/reset";
@import "compass/utilities";
@import "compass/layout/sticky-footer";
@import "compass/css3/opacity";

@import "base";
@import "photoshop_shadows";

:focus { outline: 0 }

/*
   CORE CONTAINERS
   -----------------------------------------------------------------------------
 */
body { background: $sky-blue url('/static/images/battleship.png') bottom right no-repeat; color: white; text-align: center; width: 100%; height: 100%; font-family: Arial, sans-serif }
footer {
    text-align: right; padding-right: 10px; font-size: 8pt; font-weight: bold; height: 50px;
    span { background-color: $wood-orange; padding: 10px; @include border-radius(5px); @include opacity(.8); display: block; float: right }
}
#play-zone { width: 900px; position: relative; left: 50%; margin-left: -450px }

@include sticky-footer(50px, "#main", "#sticky-footer", "footer");

#notification { position: absolute; bottom: 1px; left: 50%; margin-left: -115px; width: 230px; background-color: #F00; @include border-top-radius(5px); padding: 20px 10px }

/*
   BOARDS
   -----------------------------------------------------------------------------
 */
#board1 { margin-right: 25px }
#board2 { margin-left: 25px }
#board1, #board2 {
    width: 425px; margin-top: 40px; float: left;
    .row-markers {
	float: left; width: 36px; margin-top: 20px;
        li { width: 36px; height: 36px; margin-bottom: 1px }
	li:last-child { margin-bottom: 0px!important }
    }
    .column-markers {
	text-align: left;
        span { width: 36px; display: block; float: left; text-align: center; margin: 0 0 8px 1px; }
	span:first-child { margin-left: 46px }
    }
    .row-markers, .column-markers { font-weight: bold; font-size: 18px; vertical-align: middle }
    table {
	width: 389px; height: 360px; border: 10px $wood-orange solid; float: left; margin-bottom: 14px;
        tr td { width: 36px; height: 36px; text-align: center; background-color: $kind-of-gray; border-right: 1px $darker-gray solid; background-position: center; background-repeat: no-repeat }
	tr td:last-child { border-right: 0!important }
        tr { border-bottom: 1px $darker-gray solid }
	tr:last-child { border-bottom: 0px!important }
    }
}

#board2.attack table td:hover { background-color: #f2f358!important; cursor: pointer }

td.untouched { background-image: none; }
td.aimed { background-image: url('/static/images/tile-aimed.png'); }
td.missed { background-image: url('/static/images/tile-missed.png'); }
td.loading { background-image: url('/static/images/tile-loading.png'); }
td.hit { background-image: url('/static/images/tile-hit.png'); }
td.down { background-image: url('/static/images/tile-down.png'); }

/*
   TITLES & TEXT
   -----------------------------------------------------------------------------
 */
h1, h2, h3, h4, { margin: 0px; font-family: 'Amaranth', sans-serif; font-style: italic; @include photoshop-text-shadow(90, 5, 0, 5, #999) }

h1 { font-size: 48pt }
h2 { font-size: 30pt }

section h2 { font-style: normal; margin-left: 36px; clear: both }

/*
   HELPERS
   -----------------------------------------------------------------------------
 */
.hide { display: none; visibility: hidden }