@import "compass/reset";
@import "compass/utilities";
@import "compass/layout/sticky-footer";
@import "compass/css3/opacity";

@import "base";
@import "photoshop_shadows";

:focus { outline: 0 }

/*
   CORE CONTAINERS
   -----------------------------------------------------------------------------
 */
body { background: $sky-blue url('/static/images/battleship.png') bottom right no-repeat; color: white; text-align: center; width: 100%; height: 100%; font-family: Arial, sans-serif }
footer {
    text-align: right; padding-right: 10px; font-size: 8pt; font-weight: bold; height: 50px;
    span { background-color: $wood-orange; padding: 10px; @include border-radius(5px); @include opacity(.8); display: block; float: right }
}
#play-zone { width: 900px; position: relative; left: 50%; margin-left: -450px }

@include sticky-footer(50px, "#main", "#sticky-footer", "footer");

/*
   BOARDS
   -----------------------------------------------------------------------------
 */
#board1 { margin-right: 25px }
#board2 { margin-left: 25px }
#board1, #board2 {
    width: 425px; margin-top: 40px; float: left;
    .row-markers {
	float: left; width: 36px; margin-top: 20px;
        li { width: 36px; height: 36px; margin-bottom: 1px }
	li:last-child { margin-bottom: 0px!important }
    }
    .column-markers {
	text-align: left;
        span { width: 36px; display: block; float: left; text-align: center; margin: 0 0 8px 1px; }
	span:first-child { margin-left: 46px }
    }
    .row-markers, .column-markers { font-weight: bold; font-size: 18px; vertical-align: middle }
    table {
	width: 389px; height: 360px; border: 10px $wood-orange solid; float: left; margin-bottom: 14px;
        tr td { width: 36px; height: 36px; text-align: center; background-color: $kind-of-gray; border-right: 1px $darker-gray solid; background-position: center; background-repeat: no-repeat }
	tr td:last-child { border-right: 0!important }
        tr { border-bottom: 1px $darker-gray solid }
	tr:last-child { border-bottom: 0px!important }
    }
}

#board2.active table td:hover { background-color: #f2f358!important; cursor: pointer }

td.untouched { background-image: none; }
td.aimed { background-image: url('/static/images/tile-aimed.png'); }
td.missed { background-image: url('/static/images/tile-missed.png'); }
td.loading { background-image: url('/static/images/tile-loading.gif'); }
td.hit { background-image: url('/static/images/tile-hit.png'); }
td.down { background-image: url('/static/images/tile-down.png'); }
td.ship { background-color: $bright-orange!important; }


/*
   NOTIFICATIONS
   -----------------------------------------------------------------------------
 */
#notification {
    background-color: $kind-of-gray; color: #000; font-size: 10pt; position: absolute; bottom: 1px; left: 10px; width: 250px; border: 2px solid $darker-gray; border-bottom: 0px;
    #shoot { background-color: $wood-orange; color: #FFF; cursor: pointer; font-size: 14pt; font-weight: bold; padding: 20px 0 }
    #shoot:hover { background-color: $bright-orange; }
    #notification-header { background-color: $darker-blue; color: #FFF; cursor: pointer; text-align: left; font-weight: bold; padding: 4px 10px; }
    #logged-users {
	color: #333; font-size: 8pt; text-align: left; padding: 5px 10px; border-top: 2px solid $darker-gray;
        span { font-style: italic; }
    }
    #notification-list {
	background-color: #FFF; color: #000; max-height: 250px; overflow-y: auto; text-align: left; font-size: 8pt;
        li { border-left-width: 6px; border-left-style: solid; padding: 8px; margin: 3px 0; font-style: italic }
        li.success { border-left-color: #36AA1F; }
        li.info { border-left-color: $water-blue; }
        li.failure { border-left-color: #B0160C; }
    }
}

/*
   TITLES & TEXT
   -----------------------------------------------------------------------------
 */
h1, h2, h3, h4, { margin: 0px; font-family: 'Amaranth', sans-serif; font-style: italic; @include photoshop-text-shadow(90, 5, 0, 5, #999) }

h1 { font-size: 48pt }
h2 { font-size: 30pt }

section h2 { font-style: normal; margin-left: 36px; clear: both }

/*
   HELPERS
   -----------------------------------------------------------------------------
 */
.hide { display: none; visibility: hidden }