<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Battleship Test</title>
    <link href="http://fonts.googleapis.com/css?family=Amaranth:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/battleship.css"/>
  </head>
  
  <body>
    <div id="main">
      <header>
	<h1 class="page-title">Battleship War!!!!</h1>
      </header>

      <div id="play-zone">
	<section id="board1">
	  <div class="column-markers">
	    <span>A</span>
	    <span>B</span>
	    <span>C</span>
	    <span>D</span>
	    <span>E</span>
	    <span>F</span>
	    <span>G</span>
	    <span>H</span>
	    <span>I</span>
	    <span>J</span>
	  </div>
	  <ul class="row-markers">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	    <li>8</li>
	    <li>9</li>
	    <li>10</li>
	  </ul>

	  <table>
	  </table>
	  <h2>Your Ships</h2>
	</section>


	<section id="board2">
	  <div class="column-markers">
	    <span>A</span>
	    <span>B</span>
	    <span>C</span>
	    <span>D</span>
	    <span>E</span>
	    <span>F</span>
	    <span>G</span>
	    <span>H</span>
	    <span>I</span>
	    <span>J</span>
	  </div>
	  <ul class="row-markers">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	    <li>8</li>
	    <li>9</li>
	    <li>10</li>
	  </ul>

	  <table>
	  </table>
	  <h2>Your Attack</h2>
	</section>
      </div>

      <div id="sticky-footer"></div>
    </div>
    <footer>
      <span>Created by Daniel Barreto. 2012.</span>
    </footer>
    <div id="notification"></div>
    <script type="text/javascript" src="/static/js/socket.io.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/static/js/underscore.js"></script>
    <script type="text/javascript" src="/static/js/backbone.js"></script>
    <script type="text/javascript" src="/static/js/battleship.js"></script>
  </body>
</hml>
